@import "~antd/dist/antd.less";
@primary-color: #F07C28;
@text-color: #3b505c;
@link-color: #3b505c;
@success-color: #52c41a; // success state color
@warning-color: #faad14; // warning state color
@error-color: #f5222d; // error state color
@font-size-base: 16px; // major text font size
// @disabled-color: #ffffff; // disable state color
@border-radius-base: 0.25rem; // major border radius
@border-color-base: #d9d9d9; // major border color
@box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); // major shadow for layers
@modal-border-radius: 0.75rem;
@modal-header-padding: 16px;
@modal-header-border-width: 0px;
@modal-footer-padding-vertical: 0px 16px;
@modal-footer-padding-horizontal: 16px;
@modal-footer-border-width: 0px;
@modal-body-padding: 16px;
@btn-font-size-sm: 14px;        
@page-header-heading-title: 24px;
@anchor-border-color: #fff;
@divider-color: #0C4A6E;
@table-padding-vertical: 8px; 
@table-padding-horizontal: 16px;

// @comment-padding-base: 0 0 0 0;